<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'base/bootlink.html' %}
    <link rel="stylesheet" type="text/css" href={% static 'css/scheduling.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'css/navtab.css' %}>
</head>
<body id="body">
    {% include 'nav/list.html' with targets=targets %}
    <div class="text-center-v"><h1>This is your schedule</h1></div>
    
    <table class="center-vertical">
        <tr>
            <td>Nama</td>
            <td>Tanggal</td>
            <td>Jam</td>
            <td>Lokasi</td>
            <td>Kategori</td>
            <td></td>
        </tr>
        {% if schedule_data %}
            {% for schedule in schedule_data %}
            <tr>
                <td><b>{{schedule.name}}</b></td>
                <td><b>{{schedule.date}}</b></td>
                <td><b>{{schedule.time}}</b></td>
                <td><b>{{schedule.location}}</b></td>
                <td><b>{{schedule.category}}</b></td>
                <td><a href={% url 'delete' schedule.id %} style="color: white;"><div class="nav-card text-center-v">Delete</div></a></td>
            </tr>
            {% endfor %}
                
        {% endif %}
    </table>
</body>
</html>