<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'base/bootlink.html' %}
    <link rel="stylesheet" type="text/css" href={% static 'css/scheduling.css' %}>
</head>
<body id="body">
    {% include 'nav/list.html' with targets=targets %}
    <div class="row">
        <div class="w-25"></div>
        <div class="w-50">
            <div class="text-center-v"><b>Input schedule</b></div>
            <form action={% url 'putschedule' %} method="POST">
                {% csrf_token %}
                <table class="center-vertical">
                    <tr>
                        <th>Label</th>
                        <th>Value</th>
                    </tr>
                    {{ form.as_table }}
                </table>
                <input class="center-vertical" type="submit" value="submit">
            </form>
        </div>
        <div class="w-25"></div>
    </div>
</body>
</html>