@font-face {
    font-family: 'Teko';
    src: url("../assets/Teko-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Cabin';
    src: url("../assets/Cabin-SemiBold.ttf") format("truetype");
}

body {
    background-color: #0b131c;
}

div#columns imgcard {
    display: inline-block;
    page-break-inside: avoid;
}

#columns {
	column-width: 280px;
	column-gap: 15px;
    width: 90%;
	margin: 50px auto;
}

div.text-tab div a {
    margin-left: 10px;
}

.card-body-cs {
    background-color: #161a1f;
}

.card-center {
    align-content: center;
    align-self: center;
    margin-bottom: 20px;
}

.card-list {
    margin-top: 10vw;
}

.card-pad {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.gallery-frame {
    border-style: solid;
    border-width: 10px;
    border-color: black;
    width: 100%; height: auto;
    margin-top: 1vh;
}

.header {
    background: rgba(6, 7, 13, 1);
}

.header-image {
    position: relative;
    object-fit: cover;
    margin-top: 4vw;

    height: 20vw;
    width: 100%;
    z-index: 0;
}

/* .header-image::after {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0));
    height: 400px;
    width: 100%;
    content: '';
} */

.rounding {
    width: 60%;
    box-sizing: border-box;
    border-radius: 50%;
    border-style: solid;
    border-width: calc(5px + 0.2vw);
    border-color: black;

    /* float: right; */
}

.shift {
    position: relative;
    top: -7vw;
}

.skill {
    width: 90%;
}

.skill-container {
    padding-bottom: 10px;
}

.text-card {
    font-family: 'Cabin', sans-serif;
    color: white;
}

.text-size-1 {
    font-size: calc(1vh + 0.5vw);
}

.text-tab {
    min-height: 20px;
    font-family: 'Teko', sans-serif;
    font-size: calc(10px + 1.5vw);
    color: white;
}