.center-vertical {
    margin-left: 50%;
    transform: translate(-50%, 0px)
}

.text-center-v {
    text-align: center;
}

#body {
    background-color: #b0b0b0;
}

table {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 75%;
}

td input {
    width: 100%;
}

th {
    text-align: left;
    vertical-align: top;
}

#input-field {
    align-self: center;
}