{% load static %}
<link rel="stylesheet" type="text/css" href={% static 'css/navtab.css' %}>
{% include 'base/bootlink.html' %}
<div class="nav-bar">
    <h1>
        {% for key, val in targets.items %}
        <a href={% url val %} class="nav-card" style="color: white;">{{ key }}</a>
        {% endfor %}
    </h1><br>
</div>