<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>This is title</title>
    <link rel="stylesheet" href={% static 'css/bootstrap-grid.css' %}>
    <link rel="stylesheet" href={% static 'css/bootstrap-reboot.css' %}>
    <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'css/profiler.css' %}>
</head>

<body>
    <div class="row header">
        <img class="header-image" src={% static 'assets/Together.png' %}>
    </div>
    <div class="row header text-tab">
        <div class="col-4"></div>
        <div class="col-6">
            <a href={% url 'homepage:gallery' %}>GALLERY</a>
            <a href={% url 'homepage:project' %}>PROJECT</a>
            <a href={% url 'homepage:schedule' %}>SCHEDULE</a>
            <a href=>NEWLY</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-1"></div>
        <div class="col-lg-2 col-3 shift">
            <div class="row">
                <a href={% url 'homepage:index' %}><img class="rounding" src={% static 'assets/profile_picture.png' %}></a>
            </div>
        </div>
    </div>
    <div class="row shift" style="padding-top: 50px">
        <div class="col-1"></div>
        <div class="col-10 card-list shift">
            <div id="columns">
                <imgcard><img class="gallery-frame" src={% static 'assets/gallery/backdest-r.jpg' %}></imgcard>
                <imgcard><img class="gallery-frame" src={% static 'assets/gallery/kr.jpg' %}></imgcard>
                <imgcard><img class="gallery-frame" src={% static 'assets/gallery/desert fight.jpg' %}></imgcard>
                <imgcard><img class="gallery-frame" src={% static 'assets/gallery/mia_sitting_on_fence_2.jpg' %}></imgcard>
                <imgcard><img class="gallery-frame" src={% static 'assets/gallery/deserting.jpg' %}></imgcard>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</body>
</html>