<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>This is title</title>
    <link rel="stylesheet" href={% static 'css/bootstrap-grid.css' %}>
    <link rel="stylesheet" href={% static 'css/bootstrap-reboot.css' %}>
    <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'css/profiler.css' %}>
</head>

<body>
    <div class="row header">
        <img class="header-image" src={% static 'assets/Together.png' %}>
    </div>
    <div class="row header text-tab">
        <div class="col-4"></div>
        <div class="col-6">
            <a href={% url 'homepage:gallery' %}>GALLERY</a>
            <a href={% url 'homepage:project' %}>PROJECT</a>
            <a href={% url 'homepage:schedule' %}>SCHEDULE</a>
            <a href=>NEWLY</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-1"></div>
        <div class="col-lg-2 col-3 shift">
            <div class="row">
                <a href={% url 'homepage:index' %}><img class="rounding" src={% static 'assets/profile_picture.png' %}></a>
            </div>
            <div class="row text-card text-size-1">
                <p class="col">
                    <br>
                    Qadzif Kamil Zahari<br>
                    1806205565<br>
                    2018<br>
                    <br>
                    <br>
                    <br>
                    Surel : qadzifi@gmail.com
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-7 card-list shift">
            <div class="card card-body-cs card-pad text-size-1">
                <b class="card-center text-card">
                    The boring artist that's master of all jack of none <br>
                </b>
            </div>
            <br>
            <div class="card card-body-cs card-pad text-size-1">
                <p class="card-center text-card" style="font-size: 40px;">
                    Skills<br>
                </p>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-4 skill-container"><img class="skill" src={% static 'assets/skils/image-1.png' %}></div>
                    <div class="col-lg-2 col-md-3 col-4 skill-container"><img class="skill" src={% static 'assets/skils/image-2.png' %}></div>
                    <div class="col-lg-2 col-md-3 col-4 skill-container"><img class="skill" src={% static 'assets/skils/image-3.png' %}></div>
                    <div class="col-lg-2 col-md-3 col-4 skill-container"><img class="skill" src={% static 'assets/skils/image-4.png' %}></div>
                    <div class="col-lg-2 col-md-3 col-4 skill-container"><img class="skill" src={% static 'assets/skils/image-5.png' %}></div>
                    <div class="col-lg-2 col-md-3 col-4 skill-container"><img class="skill" src={% static 'assets/skils/image-6.png' %}></div>
                    <div class="col-lg-2 col-md-3 col-4 skill-container"><img class="skill" src={% static 'assets/skils/image-7.png' %}></div>
                    <div class="col-lg-2 col-md-3 col-4 skill-container"><img class="skill" src={% static 'assets/skils/image-8.png' %}></div>
                    <div class="col-lg-2 col-md-3 col-4 skill-container"><img class="skill" src={% static 'assets/skils/image-9.png' %}></div>
                    <div class="col-lg-2 col-md-3 col-4 skill-container"><img class="skill" src={% static 'assets/skils/image-10.png' %}></div>
                    <div class="col-lg-2 col-md-3 col-4 skill-container"><img class="skill" src={% static 'assets/skils/image-11.png' %}></div>
                    <div class="col-lg-2 col-md-3 col-4 skill-container"><img class="skill" src={% static 'assets/skils/image-12.png' %}></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row shift" style="padding-top: 50px">
        <div class="col-sm-4"></div>
        <div class="col-sm-2"></div>
    </div>
</body>
</html>