<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>This is title</title>
    <link rel="stylesheet" href={% static 'css/bootstrap-grid.css' %}>
    <link rel="stylesheet" href={% static 'css/bootstrap-reboot.css' %}>
    <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'css/profiler.css' %}>
</head>

<body>
    <div class="row header">
        <img class="header-image" src={% static 'assets/Together.png' %}>
    </div>
    <div class="row header text-tab">
        <div class="col-4"></div>
        <div class="col-6">
            <a href={% url 'homepage:gallery' %}>GALLERY</a>
            <a href={% url 'homepage:project' %}>PROJECT</a>
            <a href={% url 'homepage:schedule' %}>SCHEDULE</a>
            <a href=>NEWLY</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-1"></div>
        <div class="col-lg-2 col-3 shift">
            <div class="row">
                <a href={% url 'homepage:index' %}><img class="rounding" src={% static 'assets/profile_picture.png' %}></a>
            </div>
        </div>
    </div>
    <div class="row shift" style="padding-top: 50px">
        <div class="col-lg-2 col-1"></div>
        <div class="col-lg-8 col-10 card-list shift text-size-1">
            <div class="card card-body-cs card-pad text-card">
                <b class="card-title">
                    <a href="https://github.com/qadzifi/datapack-helper-edit">Datapack Helper Custom</a><br>
                </b>
                <p>
                    VSCode plugin for making datapack in Minecraft<br>
                    Customized version from <a href="https://github.com/pca006132/datapack-helper">github.com/pca006132/datapack-helper</a>
                </p>
            </div>
            <br>
            <div class="card card-body-cs card-pad text-card">
                <b class="card-title">
                    <a href="https://github.com/qadzifi/KIR-kelas-xi">Aplikasi Visual Grafik Irisan Kerucut</a><br>
                </b>
                <p>
                    Aplikasi untuk menampilkan grafik irisan kerucut<br>
                    Dibuat dalam rangka mata pelajaran KIR
                </p>
            </div>
        </div>
        <div class="col-lg-2 col-1"></div>
    </div>
</body>
</html>